@font-face {
    font-family: 'arzhu';
    src: url('https://cdn.jsdelivr.net/gh/whitegive111/blog@main/%E5%BA%9E%E9%97%A8%E6%AD%A3%E9%81%93%E7%B2%97%E4%B9%A6%E4%BD%93-%E6%AD%A3%E5%BC%8F%E7%89%88.ttf'); /* �޸ĳ�������� */
    font-display: swap
}

#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}

#footer::before {
    background: rgba(255,255,255,.15)
}

#footer #footer-wrap {
    color: var(--font-color)
}

#footer #footer-wrap a {
    color: var(--font-color)
}